.footer{
    padding:0 150px;
    background-color: #161722;
}
.fleftText{
 padding: 40px 30px;
}
.fleftText h3{
 width: 100% !important;
 font-family: "Roboto Condensed", sans-serif;
 font-size: 8px !important;
 line-height: 100%;
 font-weight: 400;
 letter-spacing: -0%;
 color: #FFFFFF;
 text-transform: uppercase;
 margin-top: 20px;
 margin-bottom: 40px;

}
.fleftText h6{
 font-family: "Roboto Condensed", sans-serif;
 font-size: 10px !important;
 line-height: 100%;
 font-weight: 400;
 letter-spacing: -0%;
 color: #FFFFFF;
 text-transform: uppercase;
}
.fleftText h5{
 font-family: "Roboto Condensed", sans-serif;
 font-size: 9px !important;
 line-height: 100%;
 font-weight: 400;
 letter-spacing: -0%;
 color: #FFFFFF;
 text-transform: uppercase;
}
.fMiddle h5{
 margin-top: 40px;
 font-family: "Roboto Condensed", sans-serif;
 font-size: 16px !important;
 line-height: 24px;
 font-weight: 400;
 letter-spacing: -0%;
 color: #FFFFFF;
 margin-bottom: 20px;
}
.fMiddle h6 a{
 font-family: "Roboto Condensed", sans-serif;
 font-size: 12px !important;
 line-height: 100%;
 font-weight: 400;
 letter-spacing: 0%;
 color: #FFFFFF;
 text-transform: uppercase;
 text-decoration: none;
}
.fwriteTest h3{
 font-family: "Roboto Condensed", sans-serif;
 font-size: 32px !important;
 line-height: 44px;
 font-weight: 700;
 letter-spacing: -1%;
 color: #FFFFFF;
 padding-top: 30px;
 padding-bottom: 30px;
} 

.subsEmail input{
 font-family: "Roboto Condensed", sans-serif;
 font-size: 16px !important;
 line-height: 24px;
 font-weight: 400;
 letter-spacing: -1%;
 padding: 10px 20px;
 border: .5px solid #bbbab9;
 background-color: transparent;
 border-radius: 10px;
 -webkit-border-radius: 10px;
 -moz-border-radius: 10px;
 -ms-border-radius: 10px;
 -o-border-radius: 10px;
} 

.subsbtn{
    border: 2px solid #e9e0d8;
    padding: 10px 20px;
    background-color: #FFD2A4;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
.footericon h5{
 margin-top: 40px;
 font-family: "Roboto Condensed", sans-serif;
 font-size: 16px !important;
 line-height: 24px;
 font-weight: 400;
 letter-spacing: -0%;
 color: #FFFFFF;
 margin-bottom: 20px;
 padding-left: 30px;
}
.fIcon_main{
    display: flex;
    padding: 0 30px;
    gap: 10px;
   
}
.fIcon_main a{
  color: #FFD2A4 !important;
}